.rojo{
    background-color: crimson;
}
.verde{
    background-color: chartreuse;
}
.azul{
    background-color: cyan;
}
.fondo{
    background: rgb(235, 75, 235);
    background: purple;
   
}

.letra>ul>li>a{
 color: #001F3F !important;
} 

.bg-primary{
    background: rgba(127,219,255,1) !important;
  background: -webkit-linear-gradient(top, rgba(157, 255, 127, 1) 0%, rgba(157, 255, 127, 1) 100%) !important;
  background: linear-gradient(to bottom, rgba(157, 255, 127, 1) 0%, rgba(157, 255, 127, 1) 100%) !important;
}

.tama{
    height: 70px !important;
}

.boton{
    background: #001F3F;
    color: white;
    border: 1px solid black;
}

.btn-outline-success:hover{
    border: 1px solid white;
    background: #043b72 ;
}

.card-img-top{
    width: 70px;
  display: flex;
  align-self: center;
  
}
.carousel-inner img {
    width: 100%;
    /* Set width to 100% */
    margin: auto;
    min-height: 200px;
}